# GigShield Environment Variables

# Backend
NODE_ENV=development
PORT=3001
JWT_SECRET=gigshield_super_secret_hackathon_key_2026

# External API Mocks (If enabling real services later)
# OPENWEATHER_API_KEY=
# MAPBOX_ACCESS_TOKEN=
# TWILIO_ACCOUNT_SID=
# TWILIO_AUTH_TOKEN=
# RAZORPAY_KEY_ID=
# RAZORPAY_KEY_SECRET=

# ML Service connection
ML_SERVICE_URL=http://localhost:8000
MONGODB_URI=mongodb://localhost:27017/gigshield

# Frontend
VITE_API_URL=http://localhost:3001/api
